<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2038,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>chow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,1149},{124,108}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,65},{124,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>chow_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1194},{206,226}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,9},{206,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>chow_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,582},{210,234}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{210,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>chow_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,370},{196,238}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,2},{196,238}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>chow_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1146},{132,122}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,66},{132,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>chow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,902},{132,114}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,66},{132,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>chow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,1058},{132,122}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,65},{132,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>chow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1022},{132,122}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,66},{132,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>chow_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,260},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>chow_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,794},{228,218}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,23},{228,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>chow_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1098},{140,132}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,60},{140,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>chow_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,710},{190,210}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,16},{190,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>chow_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1222},{196,208}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,22},{196,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>kong_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2038,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>kong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,1147},{128,106}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,67},{128,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>kong_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1014},{206,226}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,9},{206,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>kong_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{210,234}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{210,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>kong_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,415},{196,238}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,2},{196,238}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>kong_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1454},{140,120}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,67},{140,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>kong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,797},{140,114}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,66},{140,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>kong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,939},{140,116}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,67},{140,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>kong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,902},{140,118}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,66},{140,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>kong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,260},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>kong_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1050},{226,210}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,31},{226,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>kong_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,588},{146,126}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,62},{146,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>kong_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,605},{190,210}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,16},{190,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>kong_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1011},{196,208}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,22},{196,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pong_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2038,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>pong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,1156},{122,106}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,67},{122,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pong_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,803},{206,226}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,9},{206,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pong_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,568},{210,234}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{210,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pong_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,172},{196,238}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,2},{196,238}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pong_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,1255},{126,124}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,66},{126,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,1081},{124,114}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,67},{124,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1087},{124,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,67},{124,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,1313},{124,124}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,66},{124,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,157},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pong_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{230,210}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,33},{230,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pong_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,926},{130,132}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,62},{130,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pong_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,518},{190,210}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,16},{190,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pong_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,889},{196,208}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,22},{196,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ting_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2038,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>ting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,1207},{128,104}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,69},{128,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ting_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,681},{206,226}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,9},{206,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ting_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,370},{210,234}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{210,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ting_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,172},{196,238}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,2},{196,238}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ting_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1402},{140,128}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,69},{140,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,1035},{140,110}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,70},{140,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ting_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,917},{140,116}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,70},{140,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ting_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,797},{140,118}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,69},{140,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ting_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ting_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,780},{200,232}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,24},{200,232}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ting_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,460},{146,126}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,66},{146,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ting_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1262},{190,210}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,16},{190,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ting_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,728},{196,208}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,22},{196,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>win_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2038,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>win_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,1022},{132,106}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,65},{132,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>win_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{236,226}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{236,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>win_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,445},{234,234}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{234,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>win_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{224,238}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{224,238}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>win_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,313},{154,130}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,64},{154,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>win_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,978},{144,118}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,64},{144,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>win_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,848},{144,128}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,65},{144,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>win_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,716},{144,130}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,64},{144,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>win_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>win_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,613},{188,230}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,23},{188,230}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>win_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,172},{150,136}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,61},{150,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>win_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,982},{228,210}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{228,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>win_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,518},{226,208}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{226,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>吃.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,458},{156,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,145}}</string>
                <key>sourceSize</key>
                <string>{156,145}</string>
            </dict>
            <key>听.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,304},{163,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,152}}</string>
                <key>sourceSize</key>
                <string>{163,152}</string>
            </dict>
            <key>摸宝.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{444,153}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{444,153}}</string>
                <key>sourceSize</key>
                <string>{450,167}</string>
            </dict>
            <key>杠.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,159},{164,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,143}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>点炮.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{448,168}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{448,168}}</string>
                <key>sourceSize</key>
                <string>{450,168}</string>
            </dict>
            <key>碰.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,310},{148,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,149}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>胡.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,2},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>自摸.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,168}}</string>
                <key>sourceSize</key>
                <string>{450,168}</string>
            </dict>
            <key>蛋.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,157},{186,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,154}}</string>
                <key>sourceSize</key>
                <string>{186,154}</string>
            </dict>
            <key>过.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,1036},{111,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,112}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ani_action.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7451c6b885752ecaf47a94eb72b428e:1/1$</string>
            <key>textureFileName</key>
            <string>ani_action.png</string>
        </dict>
    </dict>
</plist>
